.form {
    margin: 20px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;


  }
  .inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

  }
  .input {
    margin: 20px 5px 5px;
    width: 40px;
    height: 3em;
    border: none;
    border-bottom: 0.5px solid #000;
    box-shadow: none;
    border-radius: 0;
    background: rgba(252, 252, 252, 0.1);
    text-align: center;
    font-size: 1rem;
    color: #0a0a0a;
    text-transform: uppercase;
    outline-style: auto;
    outline: 2px rgba(131, 160, 255, 0.1);
    letter-spacing: 8px;
    transition: all 0.3s linear;

    &:focus {
      background: rgba(255, 255, 255, 0.1);
      box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.23);
      border: none;
      border-bottom: 0.5px solid #000;
    }

    &::placeholder {
      opacity: 0.3;
    }
  }

  .input_right {
    @extend .input;
    background: rgba(95, 248, 102, 0.1);

    &:focus {
      background: rgba(95, 248, 102, 0.1);
      box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.23);
      border: none;
      border-bottom: 0.5px solid #000;
    }
  }

  .input_wrong {
    @extend .input;
    background: rgba(248, 95, 95, 0.1);

    &:focus {
      background: rgba(248, 95, 95, 0.1);
      box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.23);
      border: none;
      border-bottom: 0.5px solid #000;
    }
  }



  .buttons_wrapper {
    position: relative;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .clear {
      // // position: absolute;
      // bottom: 80px;
      // right: -30px;
      cursor: pointer;
    }

    .check {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .icon {
        // margin: 10px;
        opacity: 1;
        color: transparent;
        width: 30px;
        height: 30px;
        transition: color 0.5s linear;
      }
      .right {
        @extend .icon;
        color: #51cc51;
      }

      .wrong {
        @extend .icon;
        color: #c74040;
      }
    }
  }