$shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.1);

.hidden {
 display: flex;
  position: absolute;
  margin: 50px 0;
  max-width: 90vmin;
  top: 0;
  right: 20px;
  transform: translateY(-100px);
  opacity: 0;
  align-items: center;
  justify-content: center;
  z-index: 2;
  transition: transform .5s linear;
}

.show{
  @extend .hidden;
  display: flex;
  transform: translateY(0);
  opacity: 1;

}

.wrapper {
  display: flex;
  width: 40vmin;
  height: 40vmin;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  border: none;
  border-radius: 3%;
  cursor: move;
  color: #000;
  box-shadow: $shadow;
}
.header {
  margin: 10px 0 5px;
}

.form_notes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}
.notes {
  width: 30vmin;
  height: 30vmin;
  margin-bottom: 30px;
  background: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  font-family: inherit;
  outline: none;
  text-transform: uppercase;
}


