$shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.1);

.hidden {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  top: 50%;
  right: -200px;
  width: 200px;
  height: 50vh;
  z-index: 999;
  transform: translate(0, -50%);
  transition: opacity .08s ease-in-out, transform .1s ease-in-out;
}

.show{
  @extend .hidden;
  transform: translate(-300px, -50%);
  opacity: 1;

}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  position: fixed;
  border: none;
  border-radius: 3px;
  cursor: move;
  color: #000;
}
.header {
  margin: 10px 0 5px;
}

.form_notes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.notes {
  padding: 20px;
  margin-bottom: 30px;
  border: 0.5px solid #000;
  border-radius: 5px;
  font-family: inherit;
  outline: none;
  text-transform: uppercase;
  box-shadow: $shadow;

}

.close {
  position: absolute;
  top: 26px;
  right: -12px;
  background: #000;
  color: #fff;
  outline: none;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
