$shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.1);

.hidden {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  bottom: -1000px;
  left: 50%;
  max-width: 90vmin;
  z-index: 999;
  transform: translate(-50%, -100);
  transition: opacity .05s ease-in-out, transform .2s ease-in-out;
}

.show{
  @extend .hidden;
  bottom: 100px;
  transform: translate(-50%, 0);
  opacity: 1;

}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  position: fixed;
  border: none;
  border-radius: 3px;
  // cursor: move;
  color: #000;
}
.header {
  margin: 10px 0 5px;
}

.form_notes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.notes {
  width: 80vmin;
  height: 30vmin;
  padding: 20px;
  margin-bottom: 30px;
  border: 0.5px solid #000;
  border-radius: 5px;
  font-family: inherit;
  outline: none;
  text-transform: uppercase;
  box-shadow: $shadow;

}


