$shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.1);

.hidden {
  margin: 0;
  position: relative;
  display: none;
  align-items: center;
  justify-content: center;
  opacity: 0;
  max-width: 90vmin;
  z-index: 3;
  transition: all 1s ease-in-out;
}

.show{
  @extend .hidden;
  display: flex;
  opacity: 1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border: none;
  border-radius: 3px;
  // cursor: move;
  color: #000;
}
.header {
  margin: 10px 0 5px;
}

.form_notes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.notes {
  width: 90vmin;
  height: 30vmin;
  padding: 20px;
  margin-bottom: 30px;
  border: 0.5px solid #000;
  border-radius: 5px;
  font-family: inherit;
  outline: none;
  text-transform: uppercase;
  box-shadow: $shadow;

}


