
.nav {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-grow: column nowrap;
    

    &Item {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        width: 70px;
        height: 70px;
        background: rgba(255, 255, 255, 0.9);
        border-radius: 50%;
        border: none;

        
        
    
         img {
             margin: 0 auto;
             width: 35px; 
         }
    }
}


