
.wrapper {
   
    position: fixed;
    height: 100vh;
     top: 0;
     left: 0;
     right: 0;
     z-index: 2;
     background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;

    .rightAnswer{
        color: red;
        text-transform: uppercase;
        font-size: 20px;
    }
}

.button {
    margin: 0 100px 0 0;
    align-self: flex-end;
    width: 50px;
    height: 50px;
    background: rgb(184, 181, 181);
    font-size: 30px;
    color: rgb(247, 244, 244);
    border-radius: 10px;

}



.border {
    position: relative;
    display: flex;
    margin: 0 auto;
    max-width: 70vw;
	max-height: 70vh;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 100px -5px rgba(0,0,0,0.1);
    border-radius: 10px;
   

    img {
        max-width: 55vw;
        height: auto;
       
      }

      button {
          position: absolute;
          bottom: 0;
          right: -50px;
          width: 30px;
          height: 30px;
          background: rgb(184, 181, 181);
          font-size: 20px;
          color: rgb(247, 244, 244);
          border-radius: 10px;
          
      }
	
}

.form {
    margin: 10px 0;
    display: flex;
    width: 50vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.input {
    margin: 20px 0 0 0;
    width: 50vw;
    height: 40px;
    padding: 10px;
    border: 1px solid #000;
    background: none;
    box-shadow: 0px 0px 100px -5px rgba(0,0,0,0.1);
    text-align: center;
    font-size: 16px;
    color: #504f4f;
    text-transform: uppercase;
    outline-style: auto;
    outline: 2px rgb(68, 1, 1);
    letter-spacing: 8px;
    

    }




