@keyframes open {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100vh;
    z-index: 2;
    background-color: #fff;
    transition: all 1s ease-in-out;

    .title {
        position: absolute;
        top: 5vh;
        left: 5vw; 
    }
    .exitBtn {
        position: absolute;
        top: 5vh;
        right: 5vw;
        margin: 0 auto;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background: rgb(184, 181, 181);
        font-size: 20px;
        color: rgb(247, 244, 244);
        border-radius: 10px;
        cursor: pointer;
        text-decoration: none;
    
       
        &:hover {
            box-shadow: 0px 0px 10px -50px rgba(0,0,0,0.1);
          }
          &:focus{
            width: 29px;
            height: 29px;
            outline: none;
          }
    }
   
}

.wrapper {
    animation-name: open;
    animation-duration: 1s; 
    height: 100%;
    margin: 10px auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #fff;

    .rightAnswer{
        display: flex;
        width: 50vw;
        margin: 0 0 20px 0;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        color: #000;
        text-align: center;
        text-transform: uppercase;
        font-size: 20px;
    }


.border {
    position: relative;
    flex-basis: 80%;
    display: flex;
    margin: 30px auto;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.1);
    border-radius: 10px;

   

    .rebus {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        max-width: 60vw;
        
    
        img {
            padding: 10px;
            height: auto;
            max-width: 60vw;
        
          }
    
          .prompt{
            position: absolute;
            padding: 10px;
            top: -40px;
            font-size: 20px;
        
    
          }
    }
	
}

}





.form {
    margin: 10px 0;
    display: flex;
    width: 90vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    button{
       
           
            background: #000;
            color: #fff;
            outline: none;
            border: none;
            width: 100px;
            height: 30px;
        }
    
}


.input {
    margin: 20px 5px;
    width: 60vw;
    border: none;
    border-bottom: 1px solid #000;
    background: none;
    text-align: center;
    font-size: 1rem;
    color: #504f4f;
    text-transform: uppercase;
    outline-style: auto;
    outline: 2px rgb(68, 1, 1);
    letter-spacing: 8px;

    &::placeholder{
        color: #e9e1e1;
        letter-spacing: 4px;
    }
    

    }




