@import url('https://fonts.googleapis.com/css?family=Sacramento&display=swap&subset=latin-ext');

.wrapper {
    
    height: 100vh;
   background: #fff;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   .logo {
    position: relative;
    max-width: 50vw;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #000;

   
    .image {
        max-width: 100%;
    }

    &::after {
        position: absolute;
        display: block;
        content: 'wyk. JMiś';
        font-family: 'Sacramento', cursive;
        text-align: center;
        font-size: 2rem;
        color: #000;
        background: #fff;
        bottom: -20px;
        right: 15px;
        width: auto;
        height: auto;
 
    }

   }

   button {
       margin: 20px;

   }
  
}