.wrapper {
    margin: 0 auto;
   background-color: #fff;
   background-size: contain;
   background-repeat: no-repeat;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   .logo {
    height: 60vh;
    width: auto;
    margin: 0 auto;
    padding: 50px;
    border: 2px solid #000;
   }

   button {
       margin: 20px;
       
   }
  
}