.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .logo{
        margin: 5vh auto;

    }

    img {
        max-width: 30vw;
        background: rgba(255, 255, 255, 0.9);
        border-radius: 15px;
    }
}