.wrapper {
    display: flex;
    width: 460px;
    height: 100px;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;

    .mini_rebus {
        display: flex;
        margin: 0 5px;
        justify-content: center;
        align-items: center;
        border: 1px solid #000;


        img {

            width: 100px;
            height: auto;
        }
    }
}