@keyframes open {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  30% {
    opacity: 0.5;
    transform: scale(1);
  }
  40% {
    opacity: 0.6;
    transform: scale(1.01);
  }
  70% {
    opacity: 1;
    transform: scale(0.95);
  }
  80% {
    opacity: 1;
    transform: scale(0.95);
  }
  90% {
    opacity: 1;
    transform: scale(1.01);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100vw;
  min-height: 100vh;
  background: rgba(221, 221, 221, 0.9);
  z-index: 3;
}

.wrapper {
  animation-name: open;
  animation-timing-function: ease-in;
  animation-duration: 0.6s;
  margin: 0 10px;
  position: relative;
  min-width: 50vw;
  min-height: 50vh;
  background: #ffff;
  border: 2px solid #000;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .header {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 32px 10px;
  }

  .subheader {
    font-size: 1rem;
    margin: 0;
  }

  .prompt {
    position: absolute;
    bottom: 0;
    font-size: 0.7rem;
    color: #858282;
  }
}

.message {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  font-size: 1rem;
  margin: 0 10px;

  .answer {
    margin-left: 5px;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.close {
  position: absolute;
  top: -10px;
  right: -10px;
  background: #000;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
