.menu {
    position: fixed;
    top: 10px;
    left: -35px;
    display: flex;
    background: none;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: nowrap;
    list-style: none;
    z-index: 1;

    .nav_item {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 70px;
        background: rgba(255, 255, 255, 0.9);
        border-radius: 50%;
        border: none;

         img {
             width: 35px;
             height: 35px;
         }
    }
    }






