$shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.1);

.menu {
    margin: 0;
    position: fixed;
    width: 100vw;
    height: 70px;
    top: 0;
    left: 50%;
    display: flex;
    background: #fff;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: nowrap;
    list-style: none;
    z-index: 1;
    box-shadow: $shadow;
    transform: translateX(-50%);
    a {
        text-decoration: none;
        color: inherit;
    }
    .nav_item {
        margin: 0 20px 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 70px;
        background: transparent;
        border: none;

         img {
             width: auto;
             height: 55px;
         }
    }

    .active {
        @extend .nav_item;
        border-bottom: 2px solid red;
    }
}

.container {
    display: flex;
}







