.container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100vw;
    min-height: 100vh;
    background: rgba(221, 221, 221, 0.9);
    z-index: 3;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.9);
    position: fixed;
    border: 2px solid #000000;
    border-radius: 3px;
    min-width: 50vw;
    min-height: 50vh;
}
.header {
    text-align: left;
}

.form_notes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.notes {
    min-width: 40vw;
    min-height: 40vh;
    border: 1px solid #000;  
    outline: none;
    text-transform: uppercase;

}
.close{
    position: absolute;
    top: -10px;
    right: -10px;
    background: #000;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}