$shadow: 0px 0px 10px -1px rgba(0,0,0,0.1);

.container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100vw;
    min-height: 100vh;
    background: rgba(221, 221, 221, 0.3);
    z-index: 3;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    position: fixed;
    border: 2px solid #000000;
    border-radius: 3px;
    min-width: 50vw;
    min-height: 50vh;
    cursor: move;
}
.header {
    text-align: left;
}

.form_notes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.notes {
    min-width: 40vw;
    min-height: 40vh;
    padding: 20px;
    margin-bottom: 30px;
    border: none;  
    border-radius:5px;
    outline: none;
    text-transform: uppercase;
    box-shadow: $shadow;

    &::placeholder{
        font-size: 1.3rem;
        color: #e2dede;
        text-align: center;
    }
}

.close{
    position: absolute;
    top: -10px;
    right: -10px;
    background: #000;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}