.wrapper {
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #fff;
   

    a {
        text-decoration: none;
        color: inherit;
    }
}

.images {
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 1px solid #000;
    background: #fff;
    
}