.wrapper {
    counter-reset: hash;
    margin: 40px auto;
    padding: 0 0 50px;
    width: 80vw;
    min-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #fff;
}

