.wrapper {
	position: relative;
	height: 100vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.border {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background: none;
    box-shadow: 0px 0px 100px -5px rgba(0,0,0,0.1);
    border-radius: 10px;
	max-width: 70vw;
	max-height: 70vh;
}

.logo {
    padding: 5vw;

    img {
      max-width: 55vw;
      height: auto;
    }
}

.btn {
	margin: 10px 0 30px;
	padding: 10px 0px;
	border-radius: 3%;
	border: none;
	width: 150px;
	height: 30px;
	background-color: #ffffff;
	box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.23);
	opacity: 1;
	color: #000000;
	text-decoration: none;
	text-align: center;
	font-family: 'Lato', Sans-Serif;
	text-transform: uppercase;
    cursor: pointer;
	transition: all .5s linear;

	&:hover{
		transform: scale(1.008);
		box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.23);

	}
}