.wrapper{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-around;  
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 10px 20px 0;
    text-transform: uppercase;

    .name {
        text-align: right;
    }

    .id {
        text-align: left;
    }
}

.image {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 300px;
    min-height: 300px;
    border: 1px solid #000;
    cursor: pointer;

    img {
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 20px;
    }

}

